node_modules/
.env
.env.local
*.local
dist/
build/
.DS_Store
*.log
npm-debug.log*
.gradle/
*.keystore
!debug.keystore
local.properties
.idea/
*.iml
*.iws
.build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivefile
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
**/.last-run.json
